<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <link rel="stylesheet" href="/css/user_main.css">
    <link rel="icon" href="/icons/icon.png" type="image/png">

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Navigator</title>

  </head>

  <body>

    <%- include('user_main_work') %>

  </body>
</html>